.idea
build/
/.blackbox/pubring.gpg~
/.blackbox/pubring.kbx~
/.blackbox/secring.gpg
/file_to_encrypt.txt
/my-file.txt
/./develop_blackbox/pubring.gpg~
/./develop_blackbox/pubring.kbx~
/./develop_blackbox/secring.gpg
/secret_prod_file.txt
